nav{
  border-bottom: solid 4px tomato;
}

nav ul {
  text-align: center;
  margin: auto;
}

nav li{
  margin-left: 50px;
  margin-right: 50px;
  font-size: 2em;
}

section{
  display: flex;
  justify-content: center;
}

.card-body{
  text-align: center;
}

.card{
  border: none;
  margin-top: 5%;
}

h5{
  font-size: 2em;
  margin-bottom: 50px;
  margin-top: 100px;
  text-align: center;
}

.card-title{
  font-size: 2em;
  margin-bottom: 50px;
  margin-top: 30px;
  text-align: center;
}

.card-text{
  font-size: 1.3em;
}

#d1 , #d2 , #d3 , #d4{
  display: none;
}
