@font-face {
 font-family: "Amienne";
 src: url("../fonts/Amienne Regular.ttf");
}

nav{
  border-bottom: solid 4px tomato;
}

nav ul {
  text-align: center;
  margin: auto;
}

nav li{
  margin-left: 50px;
  margin-right: 50px;
  font-size: 2.7em;
  letter-spacing: 2px;
  font-family: 'Amienne';
}

section{
  display: flex;
  justify-content: center;

}

.card-body{
  text-align: center;
}

.card{
  border: none;
  margin-top: 5%;
}

h5, h2{
  font-size: 2.5em;
  margin-bottom: 50px;
  margin-top: 100px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Amienne';

}


.card-title{
  font-size: 2.5em;
  margin-bottom: 50px;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Amienne';
}

.card-text{
  font-size: 1.3em;
}

#d1 , #d2 , #d3 , #d4{
  display: none;
}
